#index_body_container {
	width: 1130px;
	background-color: rgba(127, 127, 127, 0.06);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

/*footer는 view_board.html도 공용으로 사용할것*/
#footer {
	width: 1230px;
	height: 110px;
	/*background-color:green;*/
}

#footer p {
	text-align: center;
	margin: 0 auto;
	font-size: 24px;
}

#footer_inner_one {
	height: 50px;
}

#footer_inner_two {
	height: 50px;
}

.tr_inner_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 900px;
	height: 120px;
	border: 1px solid gray;
	background-color: white;
	border-radius: 7px;
	margin-bottom: 20px;
}

.tr_inner_up_div {
	display: flex;
	width: 840px;
	height: 60px;
	border-bottom: 1px solid gray;
	margin-top: 10px;
}

.tr_inner_under_div {
	display: flex;
	justify-content: center;
	width: 840px;
	height: 60px;
	margin: 10px 0 0 10px;
}

.board_kinds {
	margin: 10px 10px 0 10px;
}

.board_title {
	width: 555px;
	margin: 5px 20px 0 10px; 
	font-size: 25px;
	color: navy;
}

.board_writer {
	margin: 10px 10px 0 10px; 
}

.board_date {
	margin: 10px 10px 0 10px;
}

.board_view_cnt {
	margin: 10px 10px 0 10px;
}

.tr_inner_under_div_contents {
	display: block;
	width: 840px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

#result_letter {
	width: 900px;
	height: 50px;
	color: rgb(51, 51, 51);
	margin-top: 20px;
}

#result_letter p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	width: 700px;
	margin: 0 10px 10px 15px;
}

#title_line{
	width: 100px;
	height: 0px;
	margin: 15px 0 0 0;
	border: 1px solid silver;
}

#title_line_two{
	width: 100px;
	height: 0px;
	margin: 15px 0 0 0;
	border: 1px solid silver;
}


#footer {
	display: flex;
	justify-content: center;
	width: 1130px;
	border: solid transparent;
}

.page{
	width: 300px;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	font-size: 30px;
	border: solid transparent;
}

.page>i{
	font-size: 30px;
	color: black;
}

.page>i:hover{
	color: #b3b3b3;
	cursor: pointer;
}

.page>div{
	display: flex;
	width: 150px;
	justify-content: space-around;
	border: solid transparent;
}

.page>div>span:hover{
	color: #bfbfbf;
	cursor: pointer;
	border: solid transparent;
}

.page>footer_logo {
	margin-right: 20px;
}