/*공용 css임 절대 수정하면 안됨 */
nav, ul, li, a, span {
	border: solid thin lightgray;
	border: none;
	display: flex;
}

div {
	border: none;
}

#header {
	background-color: white;
	display: flex;
	border: none;
}

#header div {
	display: flex;
}

#search_case {
	display: flex;
	height: 65px;
	border: none;
}

#form_inner_top {
	display: flex;
}

#form_inner_top div {
	display: flex;
}

html, body {
	width: 100%;
	height: 100%;
	min-width: 1130px;
	display: flex;
	justify-content: center;
}

#header {
	height: 100px;
	/* background-color: white;
	display: flex;
	border: none; */
}

#search_case {
   width: 1130px;
   height: 65px;
   margin: 20px 0 20px 0;
   display: flex;
   justify-content: space-between;
}

#search_case_inner_div_1 {
   width: 200px;
   margin-left: 50px;
}

search_case_inner_div_1 > h3 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}

#search_case_inner_div_3 {
   width: 500px;
   display: flex;
   position: relative;
   margin: 20px;
}

#search_case_inner_div_3 select{
   width: 110px;
   height: 35px;
   font-size: 13px;
   border-radius: 4px;
   margin: 0 10px 0 100px;
}

#search_case_inner_div_3 input{
   width: 250px;
   height: 30px;
   font-size: 13px;
   border-radius: 4px;
}

#search{
   position: absolute;
   left: 450px;
   top: 10px;
}

.wrap {
	display: block;
	width: 1130px;
	height: 1300px;
	background-color: white;
	/* 상단 바 맞추기 */
	position: relative;
	top: 13px;
}

.navbar {
	width: 1130px;
	height: 100px;
	display: flex;
	justify-content: space-around;
	flex-shrink: 0;
}

.nav_group {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.nav_info {
	display: flex;
	justify-content: flex-end;
	margin-right: 75px;
	font-size: 17px;
}

.userName {
	margin-right: 6px;
	font-weight: bolder;
}

.nim {
	margin-right: 10px;
	font-size: 13px;
	align-self: center;
	margin-top: 4px;
	font-weight: bolder;
}

.medal {
	margin-right: 20px;
	align-self: center;
	color: #e6bc14;
}

.mypage {
	margin-right: 20px;
	font-weight: bolder;
}

.logout {
	font-weight: bolder;
	color: #e67e00
}

.nav_title {
	display: flex;
	justify-content: space-around;
	font-size: 20px;
	font-weight: bolder;
}

.talk {
	color: rgb(41, 128, 185);
}

/*로고*/
.logo {
	width: 200px;
	align-self: center;
}

#bt {
	width: 200px;
	height:45px;
	color: white;
	background-color: #808080;
	border-radius: 6px;
}