#view_body_container {
	width: 900px;
	height: 1100px;
	background-color: white;
	margin: 0 auto;
}

#view_page_top_user_info {
	width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid gray;
	height: 30px;
	background-color: white;
}

#medal_img {
	width: 50px;
	margin-right: 20px;
}

#title_box {
	width: 250px;
	margin-right: 85px;
	border: none;
	color: navy;
}

#username {
	margin-right: 20px;
	border: none;
}

#dib {
	margin-right: 20px;
	border: none;
}

#date {
	margin-right: 5px;
	border: none;
}

#view_cnt {
	margin-right: 20px;
	border: none;
}

#modify {
	margin-right: 20px;
	border: none;
}

#delete {
	margin-right: 20px;
	border: none;
}

#view_contents {
	font-family: '나눔스퀘어_ac';
	font-weight: bold;
}

#view_comment_notice {
	width: 800px;
	height: 60px;
	background-color: white;
	margin: 0 auto;
	font-family: '나눔스퀘어_ac';
	font-weight: bold;
}

#view_comment_notice p {
	font-size: 20px;
}

#view_comments {
	width: 800px;
	height: 400px;
	background-color: white;
	margin: 0 auto;
}

#view_conmments_table {
	width: 800px;
	height: 400px;
}

#view_comments_table_tr {
	width: 800px;
	height: 50px;
	background-color: pink;
}

#cover_each_td_div {
	justify-content: center;
	align-items: center;
	border: none;
	border-top: 1px solid gray;
	width: 795px;
	height: 60px;
}

#view_comments_table_tr_n {
	border: none;
	width: 100px;
	margin-left: 20px;
	margin-right: 20px;
}

#v_c_name {
	border: none;
	width: 100px;
	font-family: '나눔스퀘어_ac';
	font-weight: bold;
}

#vcdib {
	border: none;
	width: 100px;
	margin-right: 20px;
}

#vcdib {
	text-align: center;
}

#view_comments_table_tr_c {
	border: none;
	width: 100px;
	margin-right: 300px;
}

#v_c_contents {
	border: none;
	width: 100px;
	font-family: '나눔스퀘어_ac';
	font-weight: bold;
}

#view_comments_table_tr_d_and_mc {
	border: none;
	width: 170px;
}

#v_c_contents_d_and_mc {
	border: none;
	width: 170px;
}

#v_c_contents_d_and_mc_one {
	border: none;
	width: 170px;
	height: 25px;
	font-family: '나눔스퀘어_ac';
	font-weight: bold;
}

#v_c_contents_d_and_mc_two {
	border: none;
	width: 170px;
	height: 25px;
}

#modify {
	border: none;
	width: 30px;
	height: 25px;
}

#delete {
	border: none;
	width: 30px;
	height: 25px;
}

#medal_img, #title_box, #username, #dib, #date, #view_cnt {
	font-family: '나눔스퀘어_ac';
	font-weight: bold;
}