#write_body_container{
    width:1000px;
    height:1000px;
    /* background-color:rgba(20,20,20,0.1); */
    margin:0 auto;
    display:block;
}

.write_body{
    background-color: rgba(127, 127, 127, 0.06);
}

#exp_of_write{
    width:1000px;
    height:40px;
    /* margin:0 auto; */
    position: relative;
    top: 20px;
    right: 5px;
    text-align:center;
}

#exp_of_write p {
    font-size:30px;
    margin:0 auto;
    text-align:center;
    font-family: '나눔스퀘어_ac';
	font-weight: bold;
	color: black;
}

#write_form{
    width:1000px;
    height:800px;
    margin:0 auto;
    
}

#form_inner_top{
    width:1000px;
    height:50px;
    margin-top:40px;
    background-color:white;
}

#form_inner_select{
    width:150px;
    margin-right:40px;
    font-family: '나눔스퀘어_ac';
	font-weight: bold;
}
#form_inner_select select{
    width:150px;
    font-size:20px;
}

#form_write_title{
    width:350px;
    height:50px;
    background-color:white;
    font-family: '나눔스퀘어_ac';
	font-weight: bold;
}

#form_write_title input{
    width:350px;
    height:50px;
}

form{
    font-size:30px;
    width:1000px;
    height:400px;
}

#cover_form{
    margin-top:5px;
    width:1000px;
    height:600px;
    background-color:white;
}
