@charset "UTF-8";

html, body{
	width: 100%;
	height: 100%;
	min-width: 1130px;
	display: flex;
	justify-content: center;
}

.wrap_head{
	width: 1130px;
	height: 230px;
}

.main_bar{
	width: 1130px;
	height: 230px;
}

.main_header{
	display: flex;
	
}

.search_div{
	margin-left: 20px;
	width: 600px;
	text-align: center;
	margin-right: 80px;
}

.searchBox{
	position: relative;
}

.searchBox i{
	position: absolute;
	left: 540px;
	top: 45px;
	color: gray;
}

.login_btn{
	font-size: 22px;
	font-weight: bold;
	color: orange;
	margin-right: 10px;
}

.join_btn{
	font-size: 20px;
	font-weight: bold;
}

.cate_wrap{
	width: 1130px;
	height: 100px;
	margin-top: 10px;
	display: flex;
	justify-content: flex-start;
}

.cate_wrap>div{
	font-size: 25px;
	font-weight: bold;
	margin: 30px 50px 0 80px;
}

#main_logo{
	margin-top: 20px;
	margin-left: 20px;
	width: 250px;
	height: 100px;
}

#main_search{
	width: 550px;
	height: 40px;
	margin-top: 30px;
	border-radius: 50px;
	border-color: silver;
}

#top_res{
	display: inline-block;
	margin-top: 10px;
	text-align: center;
	font-size: 15px;
}

.wrap_body{
	width: 1130px;
	height: 1000px;
}

.info_section{
	display: flex;
	justify-content: flex-start;
}

.wrap_slide{
	width: 900px;
}

.ad_list{
	width: 900px;
	height: 250px;
	overflow: hidden;
}

.adds{
	position: relative;
}

.adds .slick-dots{
	position: absolute;
	left: 360px;
	bottom: 490px;
	height:10px;
	width: 160px; 
	font-size:0;
}

.adds .slick-list .slick-track{
	width: 900px;
}

#add_item>img{
   width:900px;
   height: 250px;
}

/* 오늘 날씨 */
.today_weather_btn {
	width: 190px;
	height: 230px;
	font-size: 19px;
	background-color: white;
	font-weight: bolder;
	position: relative;
	margin: 0px 0 12px 12px;
	padding: 10px;
	justify-content: center;
}

.date_wrap{
	margin-top: 20px;
}

.location{
	text-align: right;
	color: rgb(131, 131, 131);	
}

/* 날씨 wrap */
.weather_wrap {
	display: flex;
	justify-content: space-between;
	width: 150px;
	height: 100px;
	margin-top: 10px;
	text-align: center;
}

.weather_info{
	margin-left: 20px;
	margin-top: 15px;
}

.weather_info>div{
	text-align: left;
	width: 80px;
}

.weather_temp{
	font-size: 35px;
	color: orange;
}

.weather_statu{
	font-size: 15px;
	font-weight: bold;
}

.hover_weather{
	border: thin;
	border-color: white;
	border-style: solid;
	border-radius: 30px;
	width: 150px;
	height: 25px;
	padding-top: 5px;
	font-size: 13px;
	text-align: center;
	margin: 30px 0 0 20px;
	color: rgb(131, 131, 131);
	background-color: rgb(230, 230, 230);
}


#detail_weather{
	position: absolute;
	right: 1px;
	width: 350px;
	height: 320px;
	background-color: white;
	border-color: silver;
	border-style: solid;
	box-shadow: 20px;
	border-radius: 30px;
	flex-direction: column;
	align-items: center;
}

#detail_head{
	display: flex;
	justify-content: space-around;
}

#detail_head>p{
	font-size: 11px;
	margin-left: 5px; 
	text-decoration: underline; 
	text-underline-position:under;
}

#detail_loc{
	margin: 20px 0 0 40px;
	color: rgb(131, 131, 131);
}

.detail_title{
	margin-top: 20px;
	font-size: 20px;
	color: rgb(94, 94, 94);
}

#detail_body{
	display: flex;
	justify-content: space-around;
	margin-right: 20px;
}

#detail_icon{
	margin-right: 10px;
}

#detail_temp{
	display: flex;
	justify-content: space-around;
	margin: 20px 0 0 10px;
}

#detail_footer{
	display: flex;
	justify-content: flex-start;
}

#detail_footer>img{
	width: 80px;
	height: 80px;
	margin: 44px 20px 0 20px;
}

#footer_msg{
	width: 200px;
	margin: 44px 20px 0 0;
	font-size: 20px;
	color: rgb(94, 94, 94);
}

.separate{
	width: 1px;
  	height: 80px;
  	background-color: rgb(94, 94, 94);
  	transform: rotate(45deg);
}

.weather_min, .weather_max{
	font-size: 35px;
	color: orange;
	margin-top: 20px;
}

.weather_min{
	margin: 0 5px 0 0;
}

.weather_max{
	margin: 30px 0 0 10px;
}

#weak_weather{
	position: relative;
	right: 930px;
	bottom: 230px;
	width: 1130px;
	height: 380px;
	background-color: white;
	border-color: silver;
	border-style: solid;
	box-shadow: 20px;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.weak_title{
	display: flex;
	justify-content: space-between;
	margin: 20px 0 20px 0; 
}

#weak_name{
	margin-left: 20px;
	font-size: 20px;
	font-weight: bold;
	color: rgb(94, 94, 94);
}

#weak_loc{
	font-size: 18px;
	margin-right: 10px;
	color: rgb(94, 94, 94);
}

#exit{
	position: absolute;
	right: 890px;
	top: 25px;
}
.iconList{
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin: 0 20px 0 20px;
	bottom: 30px;
}

.min_forecast, .max_forecast{
	border-color: silver;
	border-style: solid;
}

.chart{
}

.c3-axis, .c3-legend-item, .c3-grid{
	display: none;
}

.c3-text{
	font-size: 15px;
}


.help_section{
	height: 600px;
	display: flex;
	justify-content: center;
	background-color: #f2f2f2;
}

.help_div{
	margin-top: 130px;
	width: 1000px;
	height: 350px;
	border: thin;
	border-color: black;
	border-style: solid;
	border-radius: 30px;
	background-color: white;
}

.title_list{
	display: flex;
	justify-content: space-between;
}

.join_div{
	display: flex;
	width: 400px;
	margin-left: 10px;
	margin-right: 100px;
}

.review_div{
	display: flex;
	width: 400px;
	margin-right: 150px;
	
}

.far{
	font-size: 50px;
	margin: 20px 0 0 20px;
}

.join_title, .review_title{
	font-size: 22px;
	font-weight: bold;
	margin: 40px 0 0 10px;
	
}

.content_list{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

.join_content{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.review_content{
	display: flex;
	flex-direction: column;
	margin-left: 70px;
}

.content{
	display: flex;
	justify-content: space-around;
	margin: 10px 0 10px 0;
	font-size: 15px;
}

.content_title{
	width: 250px;
}

.content_loc{
	margin-left: 30px;
}

.content_score{
	margin-left: 10px;
	margin-right: 20px;
	color: orange;
}

.buy_section{
	display: flex;
	justify-content: center;
	height: 680px;
}

.buy_div{
	margin-top: 50px;
	width: 1100px;
	height: 600px;
	text-align: center;
}

.buy_title{
	display: flex;
	width: 400px;
	margin-left: 10px;
	margin-right: 100px;
}

.buy_name{
	font-size: 22px;
	font-weight: bold;
	margin: 40px 0 0 10px;
}

.buy_body{
	display: flex;
	justify-content: center;
}

.buy_content{
	margin-top: 60px;
	margin-left: 40px;
}

.vr{
	border: thin;
	border-color: silver;
	border-style: solid;
	height: 220px;
	margin: 80px 30px 0 30px;
}


.buy_content>img{
	width: 290px;
	height: 287px;
}

.buy_label{
	margin-top: 30px;
	margin-right: 50px;
	margin-bottom: 30px;
}

.detail_view{
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
	margin: 60px 20px 0 0;
}

.comu_section{
	display: flex;
	justify-content: center;
	height: 600px;
	background-color: #f2f2f2;
}

.comu_div{
	margin-top: 40px;
	width: 1100px;
	height: 600px;
	text-align: center;
}

.comu_title{
	display: flex;
	width: 400px;
	margin-left: 10px;
	margin-right: 100px;
}

.comu_name{
	font-size: 22px;
	font-weight: bold;
	margin: 40px 0 0 10px;
}

.comu_body{
	display: flex;
	justify-content: space-around;
	margin: 40px 0 30px 50px;
	width: 1000px;
	height: 400px;
	border: thin;
	border-color: silver;
	border-style: solid;
	border-width: 2px;
	border-radius: 30px;
	background-color: white;
}

.comu_body>div{
	width: 250px;
	height: 250px;
	margin-top: 70px;
	box-shadow: 2px 2px 2px 2px gray;
	border-color: black;
	border-style: hidden;
	border-radius: 50px;
}

#frac_div{
	background-color: rgba(251, 204, 126, 0.22);
}

#mate_div{
	background-color: rgb(248, 186, 130);
}

#interior_div{
	background-color: rgba(123, 184, 225, 0.46);
}

.child_title{
	display: flex;
	flex-direction: column;
}

.child_title:hover{
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
}

.child_list{
	margin-top: 30px;

}

#comu_icon{
	margin-top: 30px;
	font-size: 30px;
}

.child_list>div{
	font-size: 20px;
	margin-bottom: 20px;
}

.chatting{
   position: fixed;
   height: 80px;
   width: 80px;
   background-image: url("../../../resources/image/chatting.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   left: 1400px;
   bottom: 50px;
   border-radius: 100px;
   box-shadow: 2px 2px 5px 1px #666666;
   z-index: 99;
}

.chatting:hover{
   background-color: #e3d79c;
}

#chatting_main{
	border-style: none;
	border-width: 2px;
	position: fixed;
	left: 980px;
   	bottom: 120px;
	width: 430px;
	height: 380px;
	border-radius: 35px;
	background-color: rgba(250, 248, 245, 0.78);
	box-shadow: 0 0 5px 0;
	flex-direction: column;
	align-items: center;
}

#chatting_title{
	display: flex;
	width: 400px;
	height: 80px;
	justify-content: flex-start;
	margin: 10px 0 0 0;
}

#chatting_title>img{
	width: 66px;
	height: 66px;
	margin-right: 20px;
}

#chatting_title>div{
	font-size: 20px;
	margin-top: 20px;
	color: rgb(51, 51, 51);
	font-weight: bold;
}



#chatting_body{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
}

#chatting_body>div{
	
	width: 300px;
	height: 80px;
	text-align: center;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 0 5px 0;
	font-size: 25px;
	
}

#chatbot{
	margin-bottom: 40px;
}

#chatting_list{
	flex-direction: column;
}

#chatting_list>p{
	font-size: 20px;
}

#myList{
	width: 380px;
	height: 200px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 0 3px 0;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#chatItem{
	width: 350px;
	margin: 20px 0 0 0; 
	border-bottom: 1px solid #bcbcbc;
}


.footer{
   height: 250px;
   width: 1130px;
   display: flex;
   background-image: url("../../../resources/image/footer.png");
   background-repeat: no-repeat;
   background-size: 1130px 250px;
   background-position: center;
}

.footer pre{
   display: block;
   color: white;
   font-weight: bold;
   font-size: 14px;
   font-family: '맑은 고딕';
   margin: 0 15px 0 15px;
   line-height: 1.5
}

.footer_logo{
   margin: 80px 5px 0 50px;
}

.footer_text{
   margin: 80px 0 0 5px;
}

.footer_title{
   margin: 10px 0 30px 0;
}

.footer_content{
   display: flex;
   margin-top: 20px;
}

.logo-icon{
   height: 40px;
   width: 40px;
}





